body {
    color: white;
    font-family: Arial, sans-serif;
    background-size: auto;
    background-color: #547210;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("https://wallpaperset.com/w/full/8/0/e/342765.jpg");
}

.weather-card {
    padding: 20px;
    margin: 0 auto;
    max-width: 400px;
    border-radius: 8px;
    background-color: rgba(160, 160, 160, 0.5);
}